<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Streams</title>
</head>
<body>
<h1>Stream List</h1>
<a href="/add">Add Stream</a>
<table border="1">
<tr><th>ID</th><th>Code</th><th>Address</th><th>Actions</th></tr>
<% streams.forEach(function(s){ %>
<tr>
<td><%= s.id %></td>
<td><%= s.code %></td>
<td><%= s.address %></td>
<td>
    <a href="/edit/<%= s.id %>">Edit</a>
    <form action="/delete/<%= s.id %>" method="post" style="display:inline;">
        <button type="submit">Delete</button>
    </form>
</td>
</tr>
<% }) %>
</table>
</body>
</html>
